* {
    margin: 0;
    padding: 0;
}

.boxs .maps iframe{
    position: relative;
    width: 60%;
    height: 40%;
    text-align: center;
    border: 0;

}
label{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}


#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    left: -200px;
    transition: all 500ms linear;
}

#sidebar.active{
    left: 0;
}



#sidebar ul li {
    color: rgb(230, 230, 230, .9);
    text-align: left;
    padding: 15px 10px;
    list-style: none;
    border-bottom: 1px solid rgb(100, 100, 100, .3);
    font-size: 30px;
}

#sidebar img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

#sidebar .toggle-btn{
    position: absolute;
    left: 210px;
    top: 15px;
    cursor: pointer;
}

#sidebar .toggle-btn span img {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 28px;
    border-radius: 10%;

}
#sidebar a{
    position: relative;
    margin: 15px 0 20px;
    padding: 0;
    color: white;
    text-align: center;
    outline: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar a:hover {
    border-bottom: 3px solid;
    transition: all 20ms linear;
    border-color: red;
    color: rgb(122, 122, 122);
    
  }

#sidebar a:active {
    color: white;
  }

      .protege {
        width:100px; /* Ancho de la imagen */
        height:50px;  /* Altura de la imagen */
        background-image: url(ruta_y_nombre/de_la_imagen.gif);
    }